body, html {
    height: 100%;
    width: 100%;
    padding: 1px;
    margin: 1px;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    width: 90%;
    padding: .5em;
    margin: .5em;
    border: 1px solid lightgrey;
    border-spacing: 1em;
    border-radius: 5px;
    font-size: 10px;
}

.message-info {
    background-color: #c6d7f6;
    opacity: initial;
    color: #47429b;
    padding: 5px;
}

.message-success {
    background-color: #c7ead2;
    opacity: initial;
    color: #317746;
    padding: 5px;
}

.message-warning {
    background-color: #f2f1c2;
    opacity: initial;
    color: #9b8b3a;
    padding: 5px;
}

.message-error {
    background-color: #f1cbcf;
    opacity: initial;
    color: #8e3446;
    padding: 5px;
}
