/*
this file is named "site.css" and is in a directory named "css"
*/

.fancy-header {
    color: purple;
    text-decoration: underline;
}

h1 {
    text-align: center;
}

h1, h2 {
    color: seagreen;
    text-decoration: underline;
}

body {
    background-color: red;
    background-image: url("../images/pexels-miggy-rivera-6141908.jpg");

    height: 1350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Permanent Marker', cursive;

}

ul {
    list-style: circle;
}

ol {
    list-style-image: initial;
}

table, th, td {
    border: 1px solid black;
}

/* unvisited link (:link) */
a:link {
    color: goldenrod;
}

/* visited link (:visited) */
a:visited {
    color: teal;
}

/* mouse hover over link (:hover) */
a:hover {
    color: cyan;
}

/* active/selected link (:active) */
a:active {
    color: yellow;
}